@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "vendor/slick";

.landing-container {
  background: url("/images/feature_page/hero-background-overlay-features-page-v2.jpg") center center no-repeat;
  background-size: cover;
}

.dev-cycle {
  padding: 60px 0 100px;

  .step-name-container {
    position: absolute;
    left: 50%;

    .step-name {
      position: relative;
      left: -50%;
    }
  }

  svg {
    height: 46px;
    width: 46px;

    path {
      fill: $color-secondary;
    }
  }

  .step {
    width: 46px;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    color: $color-secondary;

    .step-name {
      text-transform: uppercase;
    }
  }

  .arrows {
    position: absolute;
    top: 25px;
    right: -25px;

    i {
      color: $color-secondary;
    }
  }
}

.feature-gallery {
  background: linear-gradient(to right, $features-gallery-background-gradient-begin 0%, $features-gallery-background-gradient-middle 40%, $features-gallery-background-gradient-end 100%);

  .titles {
    h1 {
      font-weight: 300;
      color: $color-white;
    }

    h2 {
      color: $color-gray-light;
      font-weight: 300;
      margin-top: 10px;
    }

    h3 {
      margin-top: 100px;
      color: $color-secondary-alt;
    }

    h4 {
      color: $color-white;
      font-weight: normal;
      margin-bottom: 60px;
    }
  }

  .slider-dots {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .feature-slider-dot-content {
    min-height: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    -ms-flex-pack: center;
    border-radius: 3px;

    h4 {
      color: $color-secondary-alt;
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: normal;

      a,
      a:visited {
        outline: none;
        color: $color-secondary-alt;
        text-decoration: underline;
      }
    }

    p {
      color: $color-white;
      font-size: 18px;
      font-weight: normal;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }
  }

  .clicked-element {
    background-color: $features-semi-transparent-white;
  }

  .clicked-element-alt {
    background-color: $features-semi-transparent-gray;
    border-color: transparent;
  }

  .slick-dots {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;

    > li {
      display: inline-block;
      border-radius: 50%;
    }

    .slick-active {
      background-color: $landing-organization-color;
    }
  }

  .feature-gallery-slick-container {
    margin: 0 auto;

    button {
      display: block;
      width: 10px;
      height: 10px;
      padding: 0;
      border: 1px solid transparent;
      border-radius: 50%;
      color: transparent;
      background-color: $features-semi-transparent-white;
      font-size: 0;
      line-height: 0;
      outline: none;

      &:hover {
        background-color: $landing-organization-color;
      }
    }
  }
}


.features-description {
  text-align: left;

  .feature-contents {
    h4 {
      font-weight: normal;
      color: $color-white;
      margin-bottom: 7px;
      font-size: 20px;
    }

    p {
      color: $features-barely-transparent-white;
      font-size: 16px;
      font-weight: normal;
    }

  }

  path {
    fill: $color-secondary-alt;
  }

  @media(min-width: $screen-md-min) {

    svg {
      position: absolute;
      top: 3px;
      right: -40px;
    }
  }

  @media(max-width: $screen-md-max) {

    .col-md-4 {
      margin-top: 20px;
      padding-bottom: 35px;
    }

    .col-md-1 {
      padding-bottom: 15px;
    }

    svg {
      position: absolute;
      left: 16px;
      top: -18px;
    }
  }
}

.main-slider-size {
  width: 800px;
  margin: 0 auto;
}

.feature-gallery-alt {
  background: none;
  background-color: $color-white;

  .titles {
    h3 {
      color: $color-secondary;
    }

    h4 {
      color: $color-primary-alt;
    }
  }

  .feature-slider-dot-content {
    h4 {
      color: $color-secondary;

      a,
      a:visited {
        outline: none;
        color: $color-secondary;
        text-decoration: underline;
      }
    }

    p {
      color: $color-primary-alt;
    }
  }

  .features-description {

    .feature-contents {

      h4 {
        color: $color-primary-alt;
      }

      p {
        color: $features-gallery-alt-description-black;
      }
    }

    path {
      fill: $color-secondary;
    }
  }

  .slick-dots {
    .slick-active {
      background-color: $color-primary-alt;
    }
  }

  .feature-gallery-slick-container {
    button {
      color: transparent;
      background-color: $features-semi-transparent-purple;

      &:hover {
        background-color: $color-primary-alt;
      }
    }
  }
}

.gitlab-version-section {
  h1 {
    color: $color-primary-alt;
    font-weight: 300;
  }

  h4 {
    color: $color-gray;
    font-weight: 300;
  }
}

.cta-btn {
  padding: 0 15px;
  font-size: 18px;
  line-height: 60px;
  width: 100px;
  font-weight: 500;
  margin: 0 auto;

  @media (min-width: 990px) {
    line-height: 40px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 48px;
    width: 350px;
    font-weight: bold;
    margin-top: 25px;
  }
}

.video-button {
  width: 190px;
  line-height: 60px;

  span {
    margin-right: 3px;
  }
}

.video-container {
  box-shadow: 0 0 5 3 $features-semi-transparent-black;
  width: 60vw;
  height: 34vw;
  display: none;
}

@media(max-width: $screen-sm-max) {
  .main-slider-size {
    width: 750px;
    margin: 0 auto;
  }
}

@media(max-width: $screen-xs-max) {

  .main-slider-size {
    width: 100%;
    margin: 0 auto;
  }

  .feature-gallery {
    .slider-dots {
      margin-top: -25px;
    }
  }


  .feature-contents {
    margin-top: 15px;
  }

  .gitlab-version-section {

    h1 {
      font-size: 36px;
    }

    h4 {
      margin-top: 30px;
    }

    a {
      margin-top: 30px;
      text-decoration: underline;
    }
  }

  .slick-dots {

    > li {
      margin-left: 2px;
      margin-right: 10px;
    }
  }

  .video-button {
    margin-top: 50px;
  }

  .video-container {
    width: 380px;
    height: 260px;
    margin-top: 50px;
  }
}
